#{extends 'main.html' /} #{set title:'Donate' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/home">Home</a> <a class="ui active item">Make
		Donation</a> <a class="ui item" href="/report">Report</a> <a
		class="ui item" href="/logout">Log Out</a>
</div>
<div class="ui three column stackable grid">
	<div class="left aligned column">
		<h2 class="ui header">Welcome ${user.firstName}</h2>
		<h5>Please give generously</h5>
		<form class="ui form segment" action="/donation" method="POST">
		<h4 class="ui header">Select an amount</h4>
			<div class="ui compact menu">
				<div class="ui simple dropdown item">
					Amount <i class="dropdown icon"></i>
					<div class="ui menu">
						<input class="item" name="received" value="$100">$100<br>
						<input class="item" name="received" value="$500">$500<br>
					    <input class="item" name="received" value="$1000">$1000<br>
					</div>
				</div>
			</div>
			<br> <br> <input type="radio" name="methoddonated"
				value="paypal"> PayPal <br> <input type="radio"
				name="methoddonated" value="direct"> Direct <br><br>
			<button class="ui teal button" type="submit">
				<i class="plus icon"></i> DONATE
			</button>
		</form>
	</div>
</div>