#{extends 'main.html' /} #{set title:'Report' /}
<div class="ui inverted teal menu">
	<a class="ui item" href="/home">Home</a> 
	<a class="ui item" href="/donate">Make Donation</a> 
	<a class="ui active item" href="/report">Report</a> 
	<a class="ui item" href="/logout">Log Out</a>
</div>
<h3 class="ui header">List Donations</h3>
<table class="ui fixed celled table">
	<thead>
		<tr>
			<th>Donors</th>
			<th>Time donated</th>
			<th>Amount($)</th>
			<th>Method donated</th>
		</tr>
	</thead>
	<tbody>
		#{list items:donations, as:'donation'}
		<tr>
			<td class="ui six wide column">${donation.from.email}</td>
			<td class="ui two wide column">${donation.donatedAt}</td>
			<td class="ui two wide column">${donation.received}</td>
			<td class="ui two wide column">${donation.methoddonated}</td>
		</tr>
		#{/list}
	</tbody>
  </table>
  <div class="ui segment">
	  <div class="bar">
	      <div class="ui teal successful progress">
			 <div class="bar" style="width: ${totalprogress}%">${totalprogress}% Target achieved</div>
			</div>
		</div>
	</div>