#{extends 'main.html' /} #{set title:'Welcome' /}
<nav class="ui menu">
	<a class="ui active item" href="/home">Home</a> 
	<a class="ui item" href="/signup">Sign Up</a> 
	<a class="ui item" href="/login">Login</a>
	<a class="ui item" href="/donate">Make Donation</a> 
	<a class="ui item" href="/logout">Log Out</a>
</nav>
<div class="ui segment">
	<h2 class="ui header">Welcome</h2>
	<div class="ui two column stackable grid">
	<div class="left aligned column">
			<br> <img src="/public/images/president.jpg"> <br>
			
		</div>
		<div class="left aligned column">
			<h3>Homer for President</h3>
			<h3>Time for a change !</h3>
			<h3>Out with the Old !</h3>
			<h3>In with Homer !</h3>
			
		</div>
	</div>
	
	<div class="ui message">
				Click here to <a href="/accounts/login">Login</a>. Don't have an
				account? <a href="/accounts/signup">Sign Up </a> We look forward to your generous contribution!
			</div>
</div>
