#{extends 'main.html' /} #{set title:'Sign Up' /}
<div class="ui inverted teal menu">
	<a class="ui active item" href="/home">Home</a> <a class="ui item"
		href="/signup">Sign Up</a> <a class="ui item" href="/login">Login</a>
	<a class="ui item" href="/donation">Make Donation</a> <a
		class="ui item" href="/logout">Log Out</a>
</div>
<div class="ui segment">
	<form class="ui form segment" action="/register" method="POST">
		<div class="required field">
			<div align="left">
				<input type="checkbox" name="user.usacitizen">Tick to
				confirm you are a citizen of the USA
			</div>
		</div>
		<div class="two fields">
			<h3 class="ui header">Sign Up</h3>
			<div class="required field">
				<label>First Name</label> <input placeholder="First Name"
					type="text" name="user.firstName">
			</div>
			<div class="required field">
				<label>Last Name</label> <input placeholder="Last Name" type="text"
					name="user.lastName">
			</div>
		</div>
		<div class="required field">
			<label>E-mail</label> <input placeholder="e-mail" type="text"
				name="user.email">
		</div>
		<div class="required field">
			<label>Password</label> <input placeholder="password" type="text"
				name="user.password">
		</div>
		<button class="ui teal button" type="submit">Signup</button>
		<div class="ui message">
			Already have an account? <a href="/login">Login here </a> We look
			forward to your generous contribution!
		</div>
	</form>
</div>